<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gameserver.dao.ItemLogMapper">
<!--    
    <resultMap id="itemLogMap" type="gameserver.model.ItemLog">
        <result property="id" column="id" />
    </resultMap>
    -->
    <select id="selectItemLog" parameterType="int" resultType="gameserver.model.ItemLog">
        SELECT player_id, action, item_tpl_id, amount, channel, extra_data FROM item_log WHERE player_id=#{playerId}
    </select>
    <insert id="insertItemLog" parameterType="gameserver.model.ItemLog" flushCache="true">
        INSERT INTO item_log (player_id, action, item_tpl_id, amount, channel, extra_data) VALUES (#{playerId}, #{action}, #{itemTplId}, #{amount}, #{channel}, #{extraData})
    </insert>
    <update id="updateItemLog" parameterType="gameserver.model.ItemLog">
        UPDATE item_log SET player_id=#{playerId}, action=#{action}, item_tpl_id=#{itemTplId}, amount=#{amount}, channel=#{channel}, extra_data=#{extraData} WHERE player_id=#{playerId}
    </update>
    <delete id="deleteItemLog" parameterType="int">
        DELETE FROM item_log WHERE player_id=#{playerId}
    </delete>
</mapper>